ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

ul li img {
    height: 50px;
}

section {
    margin-bottom: 1em;
}

.about-me {
    max-width: 600px;
    margin: auto;
}

.about-item {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.about-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.about-item p {
    margin: 0 0.5em;
}

.about-item img {
    height: 70px;
}