.fixed {
  position: fixed;
  top: 2vw;
  left: 2vw;
  bottom: 2vw;
  right: 2vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eaeaff;
  background-color: black;
  border-radius: 1em;
  overflow: hidden;
}

.hidden {
  transform: translateX(-100vw);
  transition: transform 1s;
}
.visible {
  transform: translateX(0);
  transition: transform 1s;
}

.fixed p {
  flex: 0.25;
  font-size: clamp(2.6em, 2.5vw, 5.2em);
  font-family: Whisper;
  font-weight: bold;
  text-align: center;
  padding: 0.7em;
  margin: 0;
}
.fixed p:nth-child(2) {
  flex: 1;
}

.exit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.2;
  background-color: blue;
  width: 100%;
  background: rgb(75, 75, 125);
  background: linear-gradient(
    0deg,
    rgba(75, 75, 125, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.exit p {
  font-family: "Josefin Sans";
  font-size: 1.6em;
}
