.rotate-device {
    display: none;
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .user-info,
    .page,
    .home,
    .background-image,
    .nav-bar {
      display: none;
    }
  
    .rotate-device {
      color: white;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      display: block;
      background: #013d61;
      z-index: 1;
      text-align: center;
    }
  
    .rotate-device img {
      display: block;
      height: 30vw;
      margin: 1em auto 0.25em;
    }
    
    .rotate-device p {
      font-size: 1.4em;
      font-weight: bold;
    }
}