/* background-color: #013d61; */

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow: hidden;
  background: #013d61;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: #013d61;
}

h4 {
  font-weight: 700;
  color: #013d61;
}

p {
  line-height: 1.2;
}

.opaque-background {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.6);
  box-shadow: inset 0 0 10px 1px black;
}

.Background-Image {
  background-image: url(https://s3.amazonaws.com/keckkyle.com.images/walk.jpeg);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5em;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden-text{
  position: fixed;
  top: -100vh;
  opacity: 0;
}

.RotateDevice {
  display: none;
}

.Page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5em;
  right: 0;
  background: white;
  text-align: justify;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em 0.7em 1.2em;
}

.Page p {
  padding: 0.5em 0;
}

.ProfileImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 60%;
  padding-bottom: 60%;
  box-shadow: inset 0 0 10px 1px black;
  -moz-box-shadow: inset 0 0 10px 1px black;
  -webkit-box-shadow: inset 0 0 10px 1px black;
}

.IconLink, .IconLink:active {
  font-size: 2em;
  color: white;
  margin: 0.5em 0.5em;
}

.IconLink:hover {
  color: black;
}

.page {
  display: flex;
}

/* .navImage {
  position: fixed;
  top:0;
  z-index: 0;
} */

@media screen and (min-width: 500px) {
  .ProfileImage {
    width: 250px;
    padding-bottom: 250px;
  }
}

@media screen and (min-width: 675px) {
  .Background-Image {
    bottom: 0;
  }

  .Background-Image {
    margin-left: 280px;
  }

  .Page {
    padding-left: calc(280px + 0.7em);
    height: 100vh;
  }
}


@media screen and (max-height: 510px){
  @media (max-width: 499px) {
  .ProfileImage {
    width: 50vw;
    padding-bottom: 50vw;
  }

  .IconLink {
    margin: 0.2em 0.5em;
  }
}
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .RotateDevice {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #013d61;
    z-index: 1;
    color: rgb(200, 200, 200);
  }

  .RotateDevice img {
    height: 50%;
  }
  
  .RotateDevice p {
    font-size: 1.4em;
    font-weight: bold;
  }
}
