/* background-color: #004650; */

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  overflow: hidden;
  background: #004650;
}

.opaque-background {
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.6);
  box-shadow: inset 0 0 10px black;
}

.Background-Image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-link .title {
  font-size: 1em;
  font-weight: bold;
  color: #004650;
}

.hidden-text{
  position: fixed;
  top: -100vh;
  opacity: 0;
}

.RotateDevice {
  display: none;
}

.Page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 5em;
  right: 0;
  background: white;
  text-align: justify;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em 0.7em 1.2em;
}

.Page h2 {
  text-align: center;
  margin: 0;
}

.Page p {
  margin: 0;
  padding: 0.5em 0;
}

.ProfileImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 60%;
  padding-bottom: 60%;
  box-shadow: inset 0 0 10px 1px black;
}

.UserInfo h1 {
  font-size: 1.75em;
  margin: 0;
}

.UserInfo h2 {
  font-size: 1.25em;
  margin: 0;
}

.UserInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5em;
  box-sizing: border-box;
  padding: 0.5em 0.7em;
  background: #004650;
  text-align: center;
  color: rgb(200, 200, 200);
  transition: all 0.35s linear;
}

.HiddenDetails .UserInfo {
  transition: all 0.35s linear;
  transform: translateY(110vh);
  opacity: 0;
}

.ContactTypes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.IconLink, .IconLink:active {
  font-size: 2em;
  color: white;
  margin: 0.5em 0.5em;
}

.IconLink:hover {
  color: black;
}

.NavBar {
  background: rgb(200, 200, 200);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.nav-image-item {
  transition: all 0.35s linear;
  position: fixed;
  transform-origin: center;
  transform: translate(-50%, 20em);
  bottom: .5em;
  left: 50%;
  opacity: 0;
}

.HiddenDetails .nav-image-item {
  opacity: 1;
  transform: translate(-50%, 0);
}


.nav-image {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border: 0.5em solid rgb(200, 200, 200);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 10px 1px black;
}

.NavItem {
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 2em 0.5em;
}

.NavItem p {
  margin: 0;
  line-height: 1.25;
}

.NavBar .nav-icon {
  font-size: 1.5em;
}

.NavBar .nav-text {
  font-size: 0.8em;
}

.page {
  display: flex;
}

.navImage {
  position: fixed;
  top:0;
  z-index: 0;
}

.Project {
  border-bottom: 1px solid #004650;
}

.Project:last-child {
  border-bottom: none;
}

.Project img {
  width: 85%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 0.3em;
  border: solid rgb(220,220,220) 0.05em;
  /* box-shadow: 0 0 6px 1px #004650; */
}

.Project p {
  font-size: 0.9em;
}

.project-details {
  background: white;
  overflow: scroll;
  box-sizing: border-box;
  padding: 0.5em 0.7em 1.2em;
  margin-top: 2.5em;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 5em;
  transform: translateX(110vw);
  transition: transform 0.4s linear;
}

.project-details h3 {
  color: #004650;
  text-align: center;
  margin: 0;
  padding-bottom: 0.5em;
}

.project-details.open {
  transform: translateX(0)
}

.project-title {
  display: flex;
  align-items: center;
  padding: 0.2em 0.4em;
  height: 2.5em;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: center;
  transform: translate(110vw, 0);
  transition: transform 0.4s linear;
  background: rgb(200, 200, 200);
}

.project-title h4{
  margin: 0;
  margin-left: 1em
}

.project-title button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 0.9em;
  align-self: stretch;
  font-weight: bold;
}

.project-title.open{
  transform: translate(0,0)
}

.project-link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}

.project-link h4 {
  margin: 0;
  color: #004650;
}

.project-link p {
  font-size: 0.7em;
  color: #00465045;
}

@media screen and (min-width: 500px) {
  .ProfileImage {
    width: 250px;
    padding-bottom: 250px;
  }
}

@media screen and (max-height: 480px) {
  .UserInfo p{
    display: none;
  }
}

@media screen and (min-height: 900px) {
  .UserInfo {
    justify-content: space-around;
    padding: 1em 0.7em 35vh;
  }
}

@media screen and (min-width: 675px) {
  .opaque-background {
    width: calc(100% - 280px);
  }

  .Background-Image {
    margin-left: 280px;
  }

  .NavBar {
    width: 280px;
    max-width: 280px;
  }

  .UserInfo {
    width: 280px;
  }

  .HiddenDetails .UserInfo {
    transform: translateY(0);
    opacity: 1;
  }

  .ProfileImage,
  .HiddenDetails .ProfileImage {
    width: 200px;
    padding-bottom: 200px;
  }

  .nav-image-item {
    display: none;
  }

  .Page {
    padding-left: calc(280px + 0.7em);
    height: 100vh;
  }

  .NavItem {
    width: 50%;
  }

  .Project img {
    margin: 0.6em auto;
  }

  .project-details {
    height: calc(100vh - 2.7em) ;
  }

  .project-details,
  .project-title {
    width: calc(100vw - 280px);
  }

  .project-title.open,
  .project-details.open {
    transform: translate(280px,0)
  }

  .project-details img {
    width: 40vw;
  }
}

@media screen and (min-width: 850px) {
  .Projects {
    display: flex;
    flex-direction: column;
  }

  .project-link .arrow {
    display: none;
  }

  .Projects .project-details {
    position: static;
    transform: translateX(0);
    width: auto;
    padding: 0;
    margin-top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-brief {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .project-brief img {
    margin: 0.6em;
    width: 150px;
  }

  .project-link {
    justify-content: center;
    margin: 0.5em 0 0;
    cursor: default;
  }

  .project-title {
    display: none;
  }
}

@media screen and (max-height: 510px){
  @media (max-width: 499px) {
  .UserInfo p {
    margin: 0;
  }

  .ProfileImage {
    width: 50vw;
    padding-bottom: 50vw;
  }

  .IconLink {
    margin: 0.2em 0.5em;
  }
}

  @media (min-width: 500px) {
    .UserDetails,
    .UserDetails.HiddenDetails {
      overflow: scroll;
      padding: 0.5em 0.7em 4em;
    }
  }

}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .RotateDevice {
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #004650;
    z-index: 1000;
    color: rgb(200, 200, 200);
  }

  .RotateDevice img {
    height: 50%;
  }
  
  .RotateDevice p {
    font-size: 1.4em;
    font-weight: bold;
  }
}